@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@600&family=IBM+Plex+Mono:wght@600&family=Roboto+Mono&family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  user-select: none;
  overflow: hidden;
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center-content {
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body li h1, .center-content h1 {
  color: white;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 2px;
}

.list-imgs {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  filter: invert(); /*color change*/
  line-height: 45px;
}

.icon-img {
  padding: 25px;
}

.icon-img-middle {
  padding-left: 2px;
}

.icon-img:hover, .icon-img-middle:hover {
  transform: scale(0.95);
}

.modal {
  text-align: center;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 300px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: black;
}

.btncontainer {
  padding-top: 50px;
}

.btn {
  color: white;
  padding: 10px;
  appearance: none;
  -webkit-appearance: none;
  background-color: black;
  cursor: pointer;
  position: relative;
  border-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.btn:hover {
  transform: scale(0.95);
}

#copy-message {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2em;
  z-index: 1000;
}
